<div class="row mt-1">
    <div class="col-xs">
        <h5>Playlisty</h5>

        <playlists-list [selected]="selected" (selected)=" select($event) " [playlists]="playlists"></playlists-list>

        <div class="form-group">
            <button class="btn btn-success float-xs-right" (click)="createNew($event)">Nowa playlista</button>
        </div>
    </div>

    <div class="col-xs">
      <div [ngSwitch]="mode">
        
        <content-card title="Playlista" content="Wybierz playlistę!" *ngSwitchDefault></content-card>
       
        <playlists-detail (editPlaylist)="edit($event)" [playlist]="selected" *ngSwitchCase="'selected'"></playlists-detail>

        <play-list-form wartosc="wartosc" [playlist]="selected" *ngSwitchCase="'edit'"></play-list-form>

      </div>
    </div>
</div>