
<div class="container">
  <div class="row mt-1">
    
    <style>
      .border-class{
        border-bottom: 2px solid transparent;
      }
    </style>

    <div class="col-xs">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Utworów</th>
            <th scope="col">Ulubiona</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-class" [class.table-active]="selected == playlist"
           (click)="selected = playlist" 
           [style.borderBottomColor]="playlist.color" 
           [style.fontSize.px]="size">
            <th scope="row">1</th>
            <td> {{ playlist.name }}</td>
            <td>23</td>
            <td>
              <label>
                <input type="checkbox" [checked]="playlist.favourite" (change)="playlist.favourite = $event.target.checked">
                Favourite
            </label>
            </td>
          </tr>
          <tr (click)="selected = null" [class.table-active]="selected == null">
            <th scope="row">2</th>
            <td>My playlist</td>
            <td>12</td>
            <td>false</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="col-xs">
      <h1>{{ title }}</h1>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Playlista</h5>
          <p class="card-text">Opis playlisty</p>
        </div>

        <div class="card-body">
            <div class="form-group">
              <label>Name:</label>
              <input type="text" [value]="playlist.name" (keyup)="playlist.name = $event.target.value" class="form-control">
            </div>
            <div class="form-group">
              <label>Tracks:</label>
              <input type="text" [value]="playlist.tracks + ' utworów'" class="form-control" [disabled]="wartosc">
            </div>
            <div class="form-group">
              <label>Color:</label>
              <input type="color" [value]="playlist.color" (change)="playlist.color = $event.target.value" class="form-control">
            </div>
            <div class="form-group">
              <label>
                <input type="checkbox" [checked]="playlist.favourite" (change)="playlist.favourite = $event.target.checked">
                Favourite
            </label>
            </div>

            <div class="form-group">
              <button class="btn btn-success float-xs-right" (click)="save($event)">Zapisz</button>
            </div>
        </div>

      </div>


    </div>
  </div>

</div>



